@import "./variables";


header {
  font-family: $primary-font-family;

  nav {
    #logo {
      h1 {
        padding: 2px 8px;
        transition: 0.3s;
        border-radius: 8px;
      }
    }    

    #logo:hover > h1 {
      color: $primary !important;
      background-color: $white;
    }

    #brand {
      height: 5rem;
      border-radius: 50%;
    }

    .navbar-nav {
      .nav-item {
        padding-inline: 2rem;
        transition: 0.3s;
      }

      .nav-item:hover {
        background-color: $primary;
      }
    }
  }
}

main {
  font-family: $primary-font-family;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/static/images/synthwave.gif');

  #banner {
    p {
      line-height: 32px;
    }

    .focus {
      color: $primary;
      background-color: $white;
      border-radius: 4px;
      font-weight: 900;
      padding: 2px 8px;
      transition: 0.3s;
    }
    
    .focus:hover {
      cursor: default;
      color: $white;
      background-color: $primary;
    }

    #cv-download {
      width: 100%;
    }
 
    #me {
      height: 25rem;
    }
  }

  @media (min-width: 1000px) {
    #banner {
      :first-child {
        justify-content: flex-start !important;

        .info {
          max-width: 900px;
        }
    
        #cv-download {
          width: 50% ; 
        }
    
        #me {
          height: 45rem;
          align-self: flex-end;
        }
      }
    }
  }

  #about {

  }
}
