@import "./_variables.scss";
@import "./index/scroll.scss";
@import "./index/header.scss";


main {
  font-family: $primary-font-family;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/static/images/synthwave.gif');

  section {
    scroll-snap-align: start;
    padding-top: 12vh !important;
  }

  @import "./index/hero.scss";
  @import "./index/about.scss";
  @import "./index/skills.scss";
}
