#about {
  .social-medias {
    font-size: 48px;

    a {
      text-decoration: none;

      ion-icon {
        transition: 0.3s;
      }
    }

    a:hover > ion-icon {
      color: $primary-hover !important;
    }
  }

  #me-photo {
    width: 50%;
  }

  #about-text-container {
    div {
      text-align: justify;
    }
  }

  @media (min-width: 1000px) {
    padding-top: 0px !important;
    #me-photo {
      width: 70%;
    }

    #about-text-container {
      max-width: 50rem;
      font-size: 20px;
    }
  }
}