#about {
  .social-medias {
    font-size: 32px;

    a {
      text-decoration: none;

      ion-icon {
        transition: 0.3s;
      }
    }

    a:hover > ion-icon {
      color: $primary-hover !important;
    }
  }

  #me-photo {
    width: 40%;
  }

  #about-text-container {
    div {
      text-align: justify;

      p {
        font-size: 12px;
      }
    }
  }

  @media (min-width: 500px) {
    #about-text-container {
      div {
        p {
          font-size: 16px;
        }
      }
    }
  }

  @media (min-width: 1000px) {
    padding-top: 0px !important;

    .social-medias {
      font-size: 48px;
    }

    #me-photo {
      width: 70%;
    }

    #about-text-container {
      max-width: 50rem;

      div {
        p {
          font-size: 20px;
        }
      }
    }
  }
}