#hero {
  padding-top: 0px !important;

  p {
    line-height: 32px;
  }
  
  .focus:hover {
    cursor: default;
    color: $white;
    background-color: $primary;
  }

  #cv-download {
    width: 100%;
  }

  #me-anime {
    height: 30vh;
  }

  @media (min-width: 500px) {
    #me-anime {
      height: 50vh;
    }
  }

  @media (min-width: 1000px) {
    :first-child {
      justify-content: flex-start !important;

      .info {
        max-width: 900px;
      }
  
      #cv-download {
        width: 50% ; 
      }
  
      #me-anime {
        height: 75vh;
        align-self: flex-end;
      }
    }
  }
}