#projects {
  .card {
    transition: 0.3s;
    max-height: 232px;
    overflow: hidden;

    .card-text {
      p, strong {
        display: none;
      }
    }
  }

  @media (min-width: 1000px) {
    .card {
      width: 50%;
      min-height: 400px;

      .card-img-top {
        height: 200px;
        object-fit: cover;
      }

      .card-text {
        p, strong {
          display: block;
        }
      }
    }

    .card:hover {
      transform: scale(1.1);
    }
  }
}