#skills {
  #frontend, #backend, #tools {
    img {
      width: 2rem;
      height: 2rem;

      object-fit: fill;
      transition: 0.3s;
    }

    img:hover {
      transform: scale(1.1);
    }
  }

  @media (min-width: 1000px) {
    #frontend, #backend, #tools {
      img {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}