{% macro about() %}
<section
  id="about"
  class="min-vh-100 bg-dark d-flex flex-column align-items-center justify-content-center gap-3 p-5"
>
  <div class="d-flex gap-3">
    <h2 class="text-white fs-1">Sobre Mim</h2>
    <ion-icon class="text-primary" size="large" name="body-outline"></ion-icon>
  </div>
  <div
    class="d-flex flex-column flex-lg-row align-items-center justify-content-center gap-4"
  >
    <div class="d-flex flex-column">
      <img
        src="https://www.github.com/davi-lucciola.png"
        alt="davi-photo"
        class="rounded-circle"
      />
      <div>
        <ion-icon name="logo-linkedin"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-whatsapp"></ion-icon>
      </div>
    </div>
    <div class="text-white d-flex flex-column gap-4 p-3">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed incidunt
        beatae, ad asperiores, quia magnam sint ea corporis, quibusdam
        voluptates temporibus. Labore quaerat debitis dolores illum atque
        assumenda? Vel, odio.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed incidunt
        beatae, ad asperiores, quia magnam sint ea corporis, quibusdam
        voluptates temporibus. Labore quaerat debitis dolores illum atque
        assumenda? Vel, odio.
      </p>
    </div>
  </div>
</section>
{% endmacro %}
