{% macro header() %}
<header class="container-fluid fixed-top">
  <nav
    class="navbar navbar-expand-lg bg-transparent container-xl p-0 align-items-stretch"
  >
    <a
      id="logo"
      href="#hero"
      class="navbar-brand d-flex align-items-center gap-3 navbar-expand p-2 m-0"
    >
      <img src="/static/favicon.png" alt="davi-brand" id="brand" />
      <h1 class="text-white fs-3">Davi Lucciola</h1>
    </a>
    <button
      class="navbar-toggler bg-primary h-75 align-self-center"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="bg-dark offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">
          Menu
        </h5>
        <button
          type="button"
          class="btn-close bg-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body p-0 flex-grow-1">
        <ul class="navbar-nav justify-content-end flex-grow-1">
          <li class="nav-item d-flex" data-bs-dismiss="offcanvas">
            <a
              class="nav-link text-white w-100 d-flex align-items-center justify-content-lg-center ps-3"
              href="#about"
            >
              Sobre Mim
            </a>
          </li>
          <li class="nav-item d-flex" data-bs-dismiss="offcanvas">
            <a
              class="nav-link text-white w-100 d-flex align-items-center justify-content-lg-center ps-3"
              href="#skills"
            >
              Habilidades
            </a>
          </li>
          <li class="nav-item d-flex" data-bs-dismiss="offcanvas">
            <a
              class="nav-link text-white w-100 d-flex align-items-center justify-content-lg-center ps-3"
              href="#"
            >
              Projetos
            </a>
          </li>
          <li class="nav-item d-flex" data-bs-dismiss="offcanvas">
            <a
              class="nav-link text-white w-100 d-flex align-items-center justify-content-lg-center ps-3"
              href="#"
            >
              Contato
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
{% endmacro %}
