{% macro toast() %}
  {% with messages = get_flashed_messages(true) %}
    {% if messages %}
      <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div
          class="toast align-items-center {% if messages[0][0] == 'error' %} bg-danger {% elif messages[0][0] == 'success' %} bg-success {% endif %}"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
          id="live-toast"
        >
          <div class="d-flex">
            <div class="toast-body text-white fs-5">{{ messages[0][1] }}</div>
            <button
              type="button"
              class="btn-close me-2 m-auto"
              data-bs-dismiss="toast"
              aria-label="Close"
            ></button>
          </div>
        </div>
      </div>
    {% endif %}
  {% endwith %}
{% endmacro %} 

{% macro toastScript() %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <script>
        const liveToast = document.getElementById('live-toast')
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(liveToast)
        toastBootstrap.show()
      </script>
    {% endif %}
  {% endwith %}
{% endmacro %}