<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Pórtifolio" />
    <title>Davi Lucciola | Dev</title>
    <link rel="stylesheet" href="/static/styles/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/styles/css/global.css" />
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="d-flex vh-100">
    <header
      class="container-fluid bg-dark fixed-top border-bottom border-primary border-5"
    >
      <nav
        class="navbar navbar-expand-lg bg-transparent container-xl p-0 align-items-stretch"
      >
        <a
          id="logo"
          href="#banner"
          class="navbar-brand d-flex align-items-center gap-3 navbar-expand"
        >
          <img src="/static/favicon.png" alt="davi-brand" id="brand" />
          <h1 class="text-white fs-3">Davi Lucciola</h1>
        </a>
        <button
          class="navbar-toggler bg-primary h-75 align-self-center"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="bg-dark offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">
              Menu
            </h5>
            <button
              type="button"
              class="btn-close bg-white"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body p-0 flex-grow-1">
            <ul class="navbar-nav justify-content-end flex-grow-1">
              <li class="nav-item d-flex">
                <a
                  class="nav-link text-white w-100 d-flex align-items-center"
                  href="#about"
                >
                  Sobre Mim
                </a>
              </li>
              <li class="nav-item d-flex">
                <a
                  class="nav-link text-white w-100 d-flex align-items-center"
                  href="#"
                >
                  Habilidades
                </a>
              </li>
              <li class="nav-item d-flex">
                <a
                  class="nav-link text-white w-100 d-flex align-items-center"
                  href="#"
                >
                  Projetos
                </a>
              </li>
              <li class="nav-item d-flex">
                <a
                  class="nav-link text-white w-100 d-flex align-items-center"
                  href="#"
                >
                  Contato
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="flex-grow-1 d-flex flex-column">
      <section
        id="banner"
        class="container-fluid d-flex text-white min-vh-100 bg-black bg-opacity-50"
      >
        <div
          class="container-xl d-flex flex-column flex-lg-row justify-content-end align-items-center ps-2 pe-2"
        >
          <div class="info d-flex flex-column gap-3">
            <h1>
              Desenvolvedor
              <span class="text-decoration-line-through">Backend</span>
              <strong class="focus">Full Stack</strong>
            </h1>
            <p class="fs-5">
              <strong class="focus">Soluções</strong> para o seu negócio, ganhe
              <strong>tempo</strong> na <strong>automatização</strong> de
              processos operacionais. <strong class="focus">Escale</strong> o
              seu negócio com <strong class="focus">Softwares</strong> de
              <strong class="focus">Qualidade</strong>
            </p>
            <a
              id="cv-download"
              class="btn btn-primary fs-5"
              href="/static/pdf/DaviCv.pdf"
              target="_blank"
            >
              Baixar Curriculo
            </a>
          </div>
          <img id="me" src="/static/images/me.png" alt="davi-lucciola-anime" />
        </div>
      </section>
      <section
        id="about"
        class="min-vh-100 bg-dark d-flex flex-column align-items-center justify-content-center gap-3 p-5"
      >
        <div class="d-flex gap-3">
          <h2 class="text-white fs-1">Sobre Mim</h2>
          <ion-icon
            class="text-primary"
            size="large"
            name="body-outline"
          ></ion-icon>
        </div>
        <div
          class="d-flex flex-column flex-lg-row align-items-center justify-content-center gap-4"
        >
          <div>
            <img src="https://www.github.com/davi-lucciola.png" alt="" />
          </div>
          <div class="text-white d-flex flex-column gap-4">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed
              incidunt beatae, ad asperiores, quia magnam sint ea corporis,
              quibusdam voluptates temporibus. Labore quaerat debitis dolores
              illum atque assumenda? Vel, odio.
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed
              incidunt beatae, ad asperiores, quia magnam sint ea corporis,
              quibusdam voluptates temporibus. Labore quaerat debitis dolores
              illum atque assumenda? Vel, odio.
            </p>
          </div>
        </div>
      </section>
    </main>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
