{% extends '_layout.html' %} 

{% from 'components/toast.html' import toast, toastScript %} 

{% block meta %}
  <title>Davi Lucciola | Login</title>
{% endblock %} 

{% block style %}
  <link rel="stylesheet" href="/static/styles/css/login.css" />
{% endblock %} 

{% block page %}
  <main class="w-100">
    <div class="container-fluid d-flex align-items-center justify-content-center min-vh-100 bg-black bg-opacity-50 w-100 h-100">
      <div class="bg-white w-25 h-50 p-5 rounded-5">
        <h1> Login </h1>
        <form action="/login" method="POST" autocomplete="off" class="d-flex flex-column mt-5">
          <div class="mb-3">
            <label for="username"> Username </label>
            <input type="text" name="username" id="username" class="form-control">
          </div>
          <div class="mb-5">
            <label for="password"> Password </label>
            <input type="password" name="password" id="password" class="form-control">
          </div>
          <button class="btn btn-primary w-100"> Login </button>
        </form>
        <p class="text-danger text-center mt-5 fs-4 fw-bolder"> AREA RESTRITA </p>
      </div>
    </div>
  </main>
  {{ toast() }}
{% endblock %}

{% block scripts %}
  {{ toastScript() }}
{% endblock %}