{% extends '_layout.html' %} 

{% from 'portifolio/components/header.html' import header %}
{% from 'portifolio/components/hero.html' import hero %} 
{% from 'portifolio/components/about.html'import about %} 
{% from 'portifolio/components/skills.html' import skills %} 

{% block meta %}
  <meta
    name="description"
    content="Portifolio do Desenvolvedor Backend/Fullstack Davi Gomes Lucciola"
  />
  <title>Davi Lucciola | Dev</title>
{% endblock %} 

{% block style %}
  <link rel="stylesheet" href="/static/styles/css/global.css" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{% endblock %} 

{% block page %} 
  {{ header() }}
  <main class="flex-grow-1 d-flex flex-column">
    {{ hero() }} 
    {{ about() }} 
    {{ skills() }}
  </main>
{% endblock %}

{% block scripts %}
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="/static/js/scroll.js"></script>
  <script>
    AOS.init({
      duration: 1000,
    });
  </script>
{% endblock %}