.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5% 20%;
}



.form-contato {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}

.form-contato input, .form-item textarea {
    color: black;
    padding: 4px 2px;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-item textarea {
    resize: none;
}

.submit-contato {
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    transition: 0.2s;
    background-color: #731BC5;
}

.submit-contato:hover {
    background-color: #6117a6;
}