/* Variaveis */
:root {
  --white-100: #FAFAFA;
  --gray-100: #272727;
  --purple-100: #731BC5;
  --purple-fog: #731bc572;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-inline: 15%;
}

#me {
  position: absolute;
  height: 720px;
  bottom: 8vh;
  right: 20%;
  transition: 0.3s;
}

#me:hover {
  transform: scale(1.05);
  bottom: 9.8vh;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 32px;

  width: 64%;
  cursor: default;
}

.info h1 {
  font-size: 2.6rem;
}

.marked {
  text-decoration: line-through;
}

.focus {
  color: var(--purple-100);
  background-color: var(--white-100);
  border-radius: 4px;
  font-weight: 900;
  padding: 2px 8px;
  transition: 0.3s;
}

.focus:hover {
  color: var(--white-100);
  background-color: var(--purple-100);
}

h1 .focus {
  font-size: 2.8rem;
}

.info p {
  font-size: 1.4rem;
}

.info .contato {
  text-align: center;
  width: 416px;
  font-size: 1.6rem;
  padding: 12px 0px;
  border-radius: 4px;
  
  font-weight: bolder;
  background-color: var(--purple-100);
  cursor: pointer;
}
