{% extends '_layout.html' %} 

{% block meta %}
  <title>Davi Lucciola | Admin</title>
{% endblock %} 

{% block style %}
  <link rel="stylesheet" href="/static/styles/css/admin.css" />
{% endblock %} 

{% block page %}
<header class="bg-dark border-bottom border-primary border-5">
  <div class="container-xl d-flex justify-content-between align-items-center p-4">
    <h1 class="text-white mb-0"> Meus Projetos </h1>
    <form action="" method="GET" class="d-flex justify-content-center align-items-center w-50">
      <input type="text" name="search" id="search" class="form-control w-50">
      <button class="border-0 bg-primary rounded-circle text-white d-flex justify-content-center align-items-center ms-2" type="submit">
        <ion-icon name="search"></ion-icon>
      </button>
    </form>
    <a class="btn btn-primary d-flex align-items-center gap-1" href="">
      Cadastrar Projeto
      <ion-icon name="code"></ion-icon>
    </a>
  </div>
</header>
<main>

</main>
{% endblock %}