{% extends '_layout.html' %}

{% block meta %}
  <title> Davi Lucciola (Contato)</title>
  <link rel="stylesheet" href="/static/css/contact.css">
{% endblock %}

{% block main %}
  <div class="main">
    <h1> Entre em contato </h1>
    <p>  e faça o orçamento para sua solução. </p>
    <p> {{ mensagem }} </p>
    <form action="/contato" method="POST" class="form-contato">
      <div class="form-item">
        <label for="remetente"> Remente </label>
        <input type="text" name="remetente" id="remetente" placeholder="Remetente" required>
      </div>
      <div class="form-item">
        <label for="assunto"> Assunto </label>
        <input type="text" name="assunto" id="assunto" placeholder="Assunto" required>
      </div>
      <div class="form-item">
        <label for="mensagem"> Mensagem </label>
        <textarea name="mensagem" id="mensagem" placeholder="Digite aqui o que deseja falar comigo" cols="30" rows="6"></textarea>
      </div>
      <button type="submit" class="submit-contato"> Enviar </button>
    </form>
  </div>
{% endblock %}
