<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Pórtifolio" />
    <title> Davi Lucciola (Contato)</title>
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="header">
        <nav>
          <ul class="navbar">
            <li>
              <a href="/"> Sobre Mim </a>
            </li>
            <li>
              <a href="/projetos"> Meus Projetos </a>
            </li>
            <li>
              <a href="/experiencias"> Experiencias </a>
            </li>
          </ul>
        </nav>
        <h1>Davi Lucciola</h1>
        <div></div>
      </div>
    </header>
    <main>
      <div class="main">
        <h1> Entre em contato </h1>
        <p>  e faça o orçamento para sua solução. </p>
      </div>
    </main>
    <footer>
      <p>©Davi Lucciola</p>
      <div>
        <p>Me siga nas Redes Sociais</p>
        <div class="social-media"></div>
      </div>
    </footer>
  </body>
</html>
