{% extends '_layout.html' %}

{% block meta %}
  <title>Davi Lucciola (Dev)</title>
  <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block main %} 
  <div class="main">
    <section class="info">
      <h1>
        Desenvolvedor <span class="marked">Backend</span>
        <strong class="focus">Full Stack</strong>
      </h1>
      <p>
        <strong class="focus">Soluções</strong> para o seu negócio, ganhe
        <strong>tempo</strong> na <strong>automatização</strong> de
        processos operacionais. <strong class="focus">Escale</strong> o seu negócio com
        <strong class="focus">Softwares</strong> de <strong class="focus">Qualidade</strong>
      </p>
      <a class="contato" href="/contato"> 
        Fazer Orçamento 
      </a>
    </section>
    <img id="me" src="/static/images/me.png" alt="davi-lucciola-anime" />
  </div>
{% endblock %}