{% macro about() %}
<section
  id="about"
  class="min-vh-100 bg-dark d-flex flex-column align-items-center gap-3"
>
  <div class="container-xl d-flex flex-column align-items-center h-100 pt-lg-5">
    <div
      class="d-flex gap-3 justify-content-center align-items-lg-center mb-3 mb-lg-5"
      data-aos="fade-down"
    >
      <h2 class="text-white fs-1 m-0">Sobre Mim</h2>
      <ion-icon class="text-primary" size="large" name="body"></ion-icon>
    </div>
    <div
      class="d-flex flex-column w-100 flex-lg-row justify-content-lg-between mt-lg-5 h-100"
    >
      <div 
        class="d-flex flex-column align-items-center gap-4" 
        data-aos="fade-down"
      >
        <img
          src="https://www.github.com/davi-lucciola.png"
          id="me-photo"
          alt="me-photo"
          class="rounded-circle"
        />
        <div class="social-medias">
          <a href="https://www.linkedin.com/in/davi-lucciola/" target="_blank">
            <ion-icon class="text-primary" name="logo-linkedin"></ion-icon>
          </a>
          <a href="https://www.instagram.com/davilucciola/" target="_blank">
            <ion-icon class="text-primary" name="logo-instagram"></ion-icon>
          </a>
          <a
            href="https://wa.me/5531986997442?text=Vi%20seu%20portif%C3%B3lio%20e%20gostaria%20de%20conversar%20com%20voc%C3%AA!"
            target="_blank"
          >
            <ion-icon class="text-primary" name="logo-whatsapp"></ion-icon>
          </a>
        </div>
      </div>
      <div
        id="about-text-container"
        class="text-white d-flex flex-column h-100 gap-4 p-3"
        data-aos="fade-up"
      >
        <div
          class="bg-secondary rounded-2 p-3 overflow-y-auto border-bottom border-2 border-primary"
        >
          <p>
            Meu nome é <strong>Davi Gomes Lucciola</strong>, sou desenvolvedor e
            educador. desde pequeno apaixonado por ensinar e solucionar
            problemas, sempre buscando aprender mais e auxiliar todos ao meu
            redor a evoluir e crescer.
          </p>
          <p>
            Ao longo da minha jornada, atuei em <strong>times de desenvolvimento
            corporativo</strong>, freelancers e também como professor de programação
            ensinando desde Lógica de Programação, Orientação a Objetos até
            desenvolvimento de sistemas completos com <strong>ReactJS</strong> no frontend e
            fremeworks como <strong>FastAPI</strong> e <strong>Springboot</strong> para o backend.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endmacro %}
