{% macro projects() %}
<section
  id="projects"
  class="min-vh-100 bg-dark d-flex flex-column align-items-center"
>
  <div class="container-xl d-flex flex-column align-items-center h-100 gap-4">
    <div 
      class="d-flex gap-3 align-items-lg-center mb-lg-5"
      data-aos="fade-right"
    >
      <h2 class="text-white fs-1 m-0"> Projetos </h2>
      <ion-icon name="layers" class="text-primary" size="large"></ion-icon>
    </div>
    <div id="projects-carousel" class="carousel slide w-100 h-100" data-aos="fade-right">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex flex-column gap-lg-5 flex-lg-row p-lg-5">
            <a class="card bg-secondary shadow" href="https://github.com/davi-lucciola/PortifolioV1" target="_blank">
              <img src="/static/images/projects/portifolio.png" class="card-img-top" alt="project-portifolio">
              <div class="card-body">
                <h3 class="card-title border-0 text-white"> Portifolio V1 </h3>
                <p class="card-text text-white">Portifólio com apresentação pessoal, curriculo, projetos e contato. </p>
              </div>
            </a>
            <a class="card bg-secondary shadow" href="https://github.com/davi-lucciola/StockControl" target="_blank">
              <img src="/static/images/projects/stock-control.png" class="card-img-top" alt="project-stock-control">
              <div class="card-body">
                <h3 class="card-title border-0 text-white"> Stock Control </h3>
                <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex flex-column gap-lg-5 flex-lg-row p-lg-5">
            <a class="card bg-secondary shadow" href="https://github.com/davi-lucciola/TicTacToe" target="_blank">
              <img src="/static/images/projects/tiktoktoe.png" class="card-img-top" alt="project-portifolio">
              <div class="card-body">
                <h3 class="card-title border-0 text-white"> Jogo da Velha </h3>
                <p class="card-text text-white">Portifólio com apresentação pessoal, curriculo, projetos e contato. </p>
              </div>
            </a>
            <a class="card bg-secondary shadow" href="https://github.com/davi-lucciola/MegaSenaGamesSorter" target="_blank">
              <img src="/static/images/projects/mega-sena-game-sorter.png" class="card-img-top" alt="project-mega-sena-game-sorter">
              <div class="card-body">
                <h3 class="card-title border-0 text-white"> Mega Sena Games Sorter </h3>
                <p class="card-text text-white">Site para sortear jogos da mega sena que nunca tiveram 4 numeros sorteados em outro jogo anteriormente.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="mt-3 d-flex w-100 justify-content-around">
        <button class="btn btn-primary rounded d-flex justify-content-center align-items-center" type="button" data-bs-target="#projects-carousel" data-bs-slide="prev">
          <ion-icon name="chevron-back" size="large"></ion-icon>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="btn btn-primary rounded d-flex justify-content-center align-items-center" type="button" data-bs-target="#projects-carousel" data-bs-slide="next">
          <ion-icon name="chevron-forward" size="large"></ion-icon>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>
{% endmacro %}